<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- <img src="/assets/defaultcarlogo.png" alt="Logo" width="40" height="34" class="d-inline-block align-text-top"> -->
      RentACar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-fw fa-home"></i>Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-fw fa-envelope"></i>İletişim</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        <li > <app-cart-summary></app-cart-summary></li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit">Giriş yap</button>&nbsp;&nbsp;
        <button class="btn btn-outline-success" type="submit">Üye ol</button>
      </form>

    </div>
  </div>
</nav>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
