<br />
<div class="payment">
  <div></div>
  <div class="mt-4">
    <form [formGroup]="payFormGroup">
      <img
        src="/assets/creditcard.png"
        class="rounded mx-auto d-block"
        style="object-fit: cover"
        width="400"
        height="200%"
      />

      <!-- <div  class="customers">
        <div class="customer" *ngFor="let item of customers" (click)="customer = item;"
        [ngClass]="{'active': item?.customerId === customer?.customerId}">
          {{item.companyName}}
        </div>
      </div> -->

      <div>
        <label for="fullName">Kart Üzerindeki İsim</label>
        <input
          type="text"
          id="fullName"
          placeholder="YOUR NAME"
          class="form-control"
          formControlName="fullName"
        />
      </div>
      <div class="mt-2">
        <label for="cardNumber">Kart Numarası</label>
        <input
          type="text"
          id="cardNumber"
          placeholder="1234 5678 9876 5432"
          class="form-control"
          formControlName="cardNumber"
        />
      </div>
      <div class="mt-2 row">
        <div class="col">
          <label for="expiryMonth">Son Kullanım Ayı</label>
          <input
            type="number"
            id="expiryMonth"
            name="expiryMonth"
            placeholder="09"
            class="form-control"
            formControlName="expiryMonth"
          />
        </div>
        <div class="col">
          <label for="expiryYear">Son Kullanım Yılı</label>
          <input
            type="number"
            id="expiryYear"
            name="expiryYear"
            placeholder="19"
            class="form-control"
            formControlName="expiryYear"
          />
        </div>
      </div>
      <div class="mt-2">
        <label for="cvv">CVV</label>
        <input
          type="text"
          id="cvv"
          placeholder="123"
          class="form-control"
          formControlName="cvv"
        />
      </div>
      <br />
      <div class="mt-2">
        <button class="btn btn-secondary" (click)="pay()" routerLink="/cars">
          Ödemeyi Tamamla
        </button>
      </div>
    </form>
  </div>
</div>
