<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>BrandName</th>
      <th>CarName</th>
      <th>ColorName</th>
      <th>ModelYear</th>
      <th>DailyPrice</th>
      <th>Description</th>
    </tr>
  </thead>
  <tr *ngFor="let cardetail of cardetails">
    <td>{{cardetail.carId}}</td>
    <td>{{cardetail.brandName}}</td>
    <td>{{cardetail.carName}}</td>
    <td>{{cardetail.colorName}}</td>
    <td>{{cardetail.modelYear}}</td>
    <td>{{cardetail.dailyPrice}}</td>
    <td>{{cardetail.description}}</td>
  </tr>
</table>
