<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Araba güncelle</h5></div>
      <div class="card-body">
        <form [formGroup]="carUpdateForm">
          <div class="mb-3">
            <label for="carId">Araba Id</label>
            <div class="form-group">
              <input
                type="number"
                id="carId"
                formControlName="carId"
                class="form-control"
                placeholder="Araba Id"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="brandId">Marka Id</label>
            <div class="form-group">
              <input
                type="number"
                id="brandId"
                formControlName="brandId"
                class="form-control"
                placeholder="Marka Id"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="colorId">Renk Id</label>
            <div class="form-group">
              <input
                type="number"
                id="colorId"
                formControlName="colorId"
                class="form-control"
                placeholder="Renk Id"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="carName">Model ismi</label>
            <div class="form-group">
              <input
                type="text"
                id="carName"
                formControlName="carName"
                class="form-control"
                placeholder="Model ismi"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="modelYear">Model yılı</label>
            <div class="form-group">
              <input
                type="number"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
                placeholder="Model yılı"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="dailyPrice">Günlük ücreti</label>
            <div class="form-group">
              <input
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
                placeholder="Günlük ücreti"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="description">Açıklaması</label>
            <div class="form-group">
              <input
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                placeholder="Açıklması"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-success" (click)="update()">Güncelle</button>
      </div>
    </div>
  </div>
</div>

