<div class="savedCard">
  <label for="payments">KAYITLI KARTLAR</label>
  <br><br>
  <div id="payments" *ngFor="let payment of payments">

      <div class="d-flex justify-content-between">
          <div type="button" class="list-group-item w-100" data-bs-toggle="modal" [attr.data-bs-target]="'#payWithSavedCardsModal'+payment.id">
              {{payment.fullName}} | {{payment.cardNumber}}
          </div>
      </div>
<br>
      <!-- Modal -->
      <div class="modal fade" [id]="'payWithSavedCardsModal'+payment.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Kayıtlı Kart İle Öde</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <strong>{{payment.cardNumber}}</strong> nolu kartınız ile ödeme yapılsın mı?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                      <button type="button" class="btn btn-primary" (click)="payWithSavedCard(payment)" data-bs-dismiss="modal">
                          Ödemeyi Tamamla</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
